.main_container-form{
   h1 {
       text-align: center;
       padding: 10px;
   }
}
.form-add {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 25px 100px rgba(0, 0, 0, 0.1);
    label {
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="file"],
    textarea {
       width: 100%;
       padding: 8px;
       margin-bottom: 10px;
       border: 1px solid #ddd;
       border-radius: 4px;
       box-sizing: border-box;
    }
    input[type="checkbox"] {
        margin-top: 10px;
    }
    input[type="submit"] {
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
    }
    input[type="submit"]:hover {
        background-color: #0056b3;
    }
    textarea {
        height: 100px;
        resize: vertical;
    }
    
}


